<html ng-app="gemStore"> 
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/application.css" />
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script> 
    </head>
    
    <body class="list-group" ng-controller="StoreController as store"> 
       <!-- Product container -->
        
        <!-- Store header -->
        <header>
            <h1 class="text-center">Flatlander Crafted Gems</h1>
            <h2 class="text-center">- an Angular store -</h2>
        </header>
         
        
        <div class="list-group-item" ng-repeat="product in store.products">
                   <h3 ng-include="'product-title.html'">
                       <product-title></product-title>
                    </h3> 
        
        <!-- Image Gallery -->  
        <div class="gallery" ng-controller="GalleryController as gallery" ng-show="product.images.length">
              <div class="img-wrap">
              <img ng-src="{{product.images[gallery.current]}}" />
              </div>
              <ul class="img-thumbnails clearfix">
                  <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                  <img ng-src="{{image}}" />
                  </li>
              </ul>
          </div>
       
       <!-- Product Tabs -->
       <section class="tab" ng-controller="TabController as Tab">
        <ul class="nav nav-pills">
          <li ng-class="{active: Tab.isSet(1)}">
            <a href ng-click="Tab.setTab(1)">Description</a></li>
          <li ng-class="{active: Tab.isSet(2)}">
            <a href ng-click="Tab.setTab(2)">Specs</a></li>
          <li ng-class="{active: Tab.isSet(3)}">
            <a href ng-click="Tab.setTab(3)">Reviews</a></li>
        </ul>
        <div ng-show="Tab.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <!-- Spec Tab's Content -->
        <div ng-show="Tab.isSet(2)">
          <h4>Specs</h4>
            <ul class="list-unstyled">
              <li>
                <strong>Shine</strong>
                : {{product.shine}}</li>
              <li>
                <strong>Faces</strong>
                : {{product.faces}}</li>
              <li>
                <strong>Rarity</strong>
                : {{product.rarity}}</li>
              <li>
                <strong>Color</strong>
                : {{product.color}}</li>
            </ul>
        </div>
        
        <!-- Review Tab's Content-->
        <div ng-show="Tab.isSet(3)">
          <h4>Reviews</h4>
          <blockquote ng-repeat="review in product.reviews">
              <b>{{review.stars}} Stars</b>
              {{review.body}}
              <cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}</cite>
          </blockquote>
        <!-- Review Form -->  
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <!-- Live Preview -->
             <blockquote>
                 <strong>{{reviewCtrl.review.stars}} Stars</strong>
                 {{reviewCtrl.review.body}}
                 <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
             </blockquote>
             <!-- Review Form -->  
            <h4>Submit a Review</h4>
             <fieldset class="form-group">
              <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
                  <option value="">Rate the Product</option>
              </select>
              </fieldset>
              <fieldset class="form-group">
              <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review for the gem" title="Review" required></textarea>
              </fieldset>
              <fieldset class="form-group" >
              <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="mark@example.com" title="Email" required />
            </fieldset>
             <!-- <div> reviewForm is {{reviewForm.$valid}}</div>  $valid is a built-in property by angular which validates for us -->
             <fieldset class="form-group">
              <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
          </form>
        </div>
      </section>
     </div>
    </body>
</html>